/********************** custom CSS****************/

@font-face {

      font-family: "lcd_solidregular";
      src: url("../fonts/lcd_solidregular.ttf") format("truetype");
}
@font-face {

      font-family: "glyphicons-halflings-regular.woff2";
      src: url("../fonts/glyphicons-halflings-regular.woff2") format("truetype");
}



/******************** style *************************/
body{
  /*background-color: #1D4604;*/
  background-color: #1C2B0D;
  color: #F5FFD7;
  padding: 10px;
}


img{
  margin-top: 40px;
  width: 200px;
}

#bloco-img{
  /*text-align: center;*/
  font-family: lcd_solidregular;
}

#bloco-img p{
  font-size: 16px;
  letter-spacing: 2px;
  text-align: justify;
}

.fa{
  color: #A2B774;
}

.fa:hover{
  color: #486705;
}

h2{
  text-shadow: 0 0 5px lime;
}

#kpi{
  text-shadow: 0 0 5px lime;
  color: #F5FFD7;

}
