/********************** custom CSS****************/

@font-face {

      font-family: "lcd_solidregular";
      src: url("../fonts/lcd_solidregular.ttf") format("truetype");
}
@font-face {

      font-family: "glyphicons-halflings-regular.woff2";
      src: url("../fonts/glyphicons-halflings-regular.woff2") format("truetype");
}



/******************** style *************************/

h3,h4, h5, h6{
  font-family: menlo;
}

p{
  font-family: menlo;
}

body{
  /*background-color: #1D4604;*/
  background-color: #1C2B0D;
  color: #c6deb3;
  padding: 10px;
}


img{
  margin-top: 40px;
  width: 200px;
}

#pk{
  margin-top: 10px;
  width: 300px;
}

#bloco-img{
  /*text-align: center;*/
  font-family: lcd_solidregular;
}

#bloco-img p{
  font-size: 16px;
  letter-spacing: 2px;
  text-align: justify;
}

.fa{
  color: #A2B774;
}

.fa:hover{
  color: #F5FFD7;
  text-shadow: 0 0 5px lime;
}

h2{
  text-shadow: 0 0 5px lime;
}

#kpi{
  text-shadow: 0 0 5px lime;
  color: #F5FFD7;

}

a{
  color: #F5FFD7;
}

a:hover{
  color: #F5FFD7;
  text-shadow: 0 0 5px lime;
}
#p1::before {
    content: '❯ ';
    text-shadow: 2px 0;
    color: #90A300;
}
#time{
  color: #7aa152;
}
#title4{
  color: #d8e9c8;
}